.wrapper {
    padding: 5px 160px 40px;
}

.btn {
    display: inline-block;
    background-color: rgb(168, 168, 168);

    border-radius: 4px;
    margin: 10px 0;
    padding: 0 20px;
    transition: background-color 0.25s;

    & a {
        color: white;
        font-size: 14px;
        font-weight: 500;
    }
}

.btn:hover {
    background-color: rgb(108, 108, 108);
}

.movieInfo {
    display: flex;
    gap: 100px;
}

.img {
    box-shadow: 0 0 20px -5px;
}

.movieDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 20px -5px;

    padding: 50px;
}

.title {
    font-size: 36px;
}

.h3 {
    font-size: 24px;
}

.text {
    font-size: 18px;
}

.genres {
    display: flex;
    gap: 10px;
}

.additional {
    min-width: 696px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 20px -5px;
    padding: 20px 75px;
}

.additionalList {
    display: flex;
    gap: 20px;
}

.additionalLink {
    & a {
        font-size: 18px;
        font-weight: 500;
    }
}

.link {
    font-size: 18px;
    font-weight: 600;
    color: gray;
}

.link:hover {
    color: rgb(74, 74, 74);
}

.active {
    color: rgb(78, 30, 201);
}

.loader {
    margin-top: 10px;
}
