.wrapper {
    padding: 20px 160px;
    display: flex;
    gap: 30px 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.itemWrapper {
    padding-bottom: 20px;
    width: 220px;
    box-shadow: 0 0 15px -5px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 250ms ease-in-out;
}

.itemWrapper:hover {
    transform: scale(1.03);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imgWrapper {
    display: flex;
    justify-content: center;
    height: 330px;
    box-shadow: 0 0 20px -5px black;

    & img {
        width: 100%;
        object-fit: cover;
    }
}

.title {
    text-align: center;
}
