.wrapper {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 40px 20px;
    flex-wrap: wrap;
}

.actorWrapper {
    width: 220px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    box-shadow: 0 0 15px -5px;
    padding-bottom: 12px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 250ms ease-in-out;

    & div {
        display: flex;
        justify-content: center;
        box-shadow: 0 0 20px -5px;

        & img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.actorWrapper:hover {
    transform: scale(1.02);
}

.title {
    font-size: 16px;
    text-align: center;
}

.text {
    font-size: 14px;
    text-align: center;
}
